%div.content

  - if @article && @article.available?
    %section.wikipedia
      %header.powered-by Wikipedia
      %h1= link_to @article.title, @article.url, target: '_blank'
      = raw @article.summary

  - if @photos
    %section.flickr
      %header.powered-by Flickr
      %ul.photos
        - @photos.each do |thumb, url|
          %li
            = link_to '', url, target: '_blank', style: "background-image: url(#{thumb})"
