// Main elements

.map,
.content
  left: 0
  overflow: hidden
  position: absolute
  right: 0


// Map

.map
  background-color: $light
  bottom: 300px
  top: 0


// Content

.content
  bottom: 0
  box-shadow: 0 -5px 5px rgba($black, .1)
  height: 300px
  +clearfix

  section
    float: left
    height: 100%
    padding: $buffer

    header.powered-by
      color: $gray
      font-size: .8em
      margin-bottom: $buffer / 2


// Wikipedia

section.wikipedia
  width: 400px

  h1
    font-size: 1em

  p
    font-size: .9em


// Flickr

section.flickr
  width: calc(100% - 400px)

  ul
    align:
      content: stretch
      items: flex-start
    display: flex
    height: 210px
    flex:
      direction: row
      wrap: wrap
    margin: 0
    overflow: hidden
    padding: 0
    justify-content: space-between
    list-style: none

  li
    background-size: cover
    margin: 2px

  a
    display: block
    +size(100px)

    &:hover,
    &:focus
      background-color: rgba($blue, .3)


// Temporary form positioning

form
  position: absolute
  right: 0
