// Elements

body
  font-family: $font


// Rails Rumble Badge

.rails-rumble-badge
  position: absolute
  right: $buffer
  top: $buffer
  z-index: 300

  img
    height: 50px


// Header

.site-top

  .logo
    left: 50%
    margin-left: -93px
    position: absolute
    pointer-events: none
    top: 0
    z-index: 200


// Main elements

.map,
.content
  left: 0
  overflow: hidden
  position: absolute
  right: 0


// Map

.map
  background-color: $light
  bottom: 0px
  bottom: 284px
  top: 0

  // Spotlight
  &:before
    +radial-gradient(200px at 49.75% 50%, rgba($black, 0) 98px, rgba($black, .4) 100px, rgba($black, .3) 200px)
    bottom: 0
    content: ""
    left: 0
    pointer-events: none
    position: absolute
    right: 0
    top: 0
    z-index: 100


// Content

.content
  +align-items(stretch)
  +display(flex)
  +flex-direction(row)
  +justify-content(space-between)
  bottom: 0
  box-shadow: 0 -5px 5px rgba($black, .1)
  height: 284px
  +clearfix

  section
    background-color: $white
    padding: $buffer
    z-index: 700

    header.powered-by
      color: $gray
      font-size: .8em
      margin-bottom: $buffer / 2


// Wikipedia

section.wikipedia
  min-width: 400px
  position: relative

  h1
    font-size: 1em

    a
      border-bottom: 1px solid $gray
      color: $black
      text-decoration: none

      &:hover,
      &:focus
        border-color: $black

  p
    font-size: .9em

    // Fade out big paragraphs
    &:after
      +linear-gradient(top, rgba($white, 0) 0%, rgba($white, 1) 50%)
      bottom: 0
      content: ""
      display: block
      height: 60px
      left: 0
      pointer-events: none
      position: absolute
      right: 0

  b
    font-weight: 500


// Flickr

section.flickr

  ul
    +align-content(stretch)
    +align-items(flex-start)
    +display(flex)
    +flex-direction(row)
    +flex-wrap(wrap)
    +justify-content(space-between)
    height: 210px
    margin: 0
    overflow: hidden
    padding: 0
    list-style: none

  li
    margin: 2px

  a
    background-size: cover
    display: block
    +size(100px)

    &:hover,
    &:focus
      box-shadow: inset 0 0 0 2px $black, inset 0 0 0 4px $white


// Temporary form positioning

form
  position: absolute
  right: 0
